<div class="min-h-screen bg-linear-to-br from-bo3-darker via-bo3-dark to-gray-900 p-6">
  <div class="max-w-7xl mx-auto">
    
    <app-dashboard-header 
      [statusColor]="statusColor()" 
      [statusText]="statusText()" />

    <app-dashboard-stats 
      [serverInfo]="serverInfo()" 
      [config]="config()" 
      [currentMap]="currentMap()" />

    <app-dashboard-controls 
      [canStart]="canStart()" 
      [isRunning]="isRunning()"
      (start)="onStartServer()"
      (stop)="onStopServer()" />

      <app-dashboard-info 
        [config]="config()"
        [serverInfo]="serverInfo()"
        [currentMap]="currentMap()"
        (openConfig)="onOpenConfig()" />

  </div>
</div>

<app-server-config />